body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: inherit;
    color: #717171;
    font-weight: 600;
}

.form-container {
    width: 600px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 1s ease infinite;
}
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
.form-container button:active {
    scale: 0.95;
}
  
.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
  
.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input,
.form-container .form-group select {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}
  
.form-container .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath fill="none" d="M0 0h20v20H0z"/%3E%3Cpath fill="%23fff" d="M5 8l5 5 5-5z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}
  
.form-container .form-group input:focus,
.form-container .form-group select:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-group input::-webkit-input-placeholder,
.form-container .form-group input::-moz-placeholder,
.form-container .form-group input:-ms-input-placeholder,
.form-container .form-group input::-ms-input-placeholder,
.form-container .form-group input::placeholder {
    color: #717171;
    opacity: 0.5;
}

.form-container .form-group select option {
    color: #fff;
    background-color: #212121;
}

.form-container .form-group select option:checked {
    background-color: #313131;
    color: #e81cff;
}
  
.form-container .form-group input::-webkit-autofill {
    box-shadow: 0 0 0 1000px #212121 inset;
    -webkit-text-fill-color: #fff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}