body {
    background: #212121;
}

h1 {
    font-family: inherit;
    color: #ffffff;
    font-weight: 600;
}


.table-dark {
            background-color: #000000 !important;
            color: #000000;
      

        }
        .table-dark th,
        .table-dark td {
            border-color: #000000;
            background-color: #ffffff;
          
 
        }

        .table-dark th {
            color: #ffffff;
 
        }

        .table-dark td {
           
            background-color: #1c1c1c;
            color: #ffffff;
 
        }


        tr:hover {
            color: #ff82ba;
            box-shadow: inset 0 0 10px rgba(253, 27, 166, 0.6), 0 0 9px 3px rgba(253, 27, 166, 0.2);
          }
          
          tr:before {
            content: "";
            position: absolute;
            left: -50em;
            width: 4em;
            height: 100%;
            top: 0;
            transition: transform .4s ease-in-out;
            background: linear-gradient(to right, transparent 1%, rgba(253, 27, 166, 0.1) 40%,rgb(0, 255, 145) 60% , transparent 100%);
          }
          
          tr:hover:before {
            transform: translateX(15em);
          }
















        .table-dark th {
            background-color: #000000;
            
            border-color: #000000;
         
        
        }

       
        .table-dark {
            
            /* width: 600px; */
            background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#ffffff, #2c2c2c) border-box;
            border: 6px solid transparent;
            /* padding: 32px 24px; */
            /* font-size: 14px;
            font-family: inherit;
            color: white;
            display: flex; */
            /* flex-direction: column;
            gap: 20px;
            box-sizing: border-box; */
            border-radius: 20px;
            background-size: 200% 100%;
            animation: gradient 5s ease infinite;

        }


        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }





